.error-message {
  color: var(--ion-color-danger);
  font-size: 12px ;
}

:root {
  ion-color-success: #feaf27;
  ion-color-success-rgb: 254,175,39;
  ion-color-success-contrast: #000000;
  ion-color-success-contrast-rgb: 0,0,0;
  ion-color-success-shade: #e09a22;
  ion-color-success-tint: #feb73d;
}