<ion-content>

  <ion-img class = logoBuddyAbroad src="../assets/images/logo/Logo2.PNG"></ion-img>

  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <ion-item class = "inputWithStyle">
      <ion-input placeholder="example@email.com" type="text" formControlName = "email">
        <ion-icon name="mail-outline" class="inputIcon"></ion-icon>
      </ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.email">
      <ng-container *ngIf ="email.hasError(error.type) && (email.touched || email.dirty) " color ="primary">
        <small class="error-message"> {{error.message}}</small>
      </ng-container>
    </div>

    <ion-item class = "inputWithStyle">
      <ion-input placeholder="●●●●●●●●" type="password" formControlName = "password">
        <ion-icon name="key-outline" class="inputIcon"></ion-icon>
      </ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf ="password.hasError(error.type) && (password.touched || password.dirty) " color ="primary">
        <small class="error-message"> {{error.message}}</small>
      </ng-container>
    </div>


    <ion-button type="submit" class="loginButton" [disabled]="!loginForm.valid">Login</ion-button>
  </form>

  <ion-button fill="clear" type="submit" class="clearBtn" [routerLink]="['/register']">
    <ion-label class="blackText">Don't have an account yet?</ion-label>
    <ion-label class="yellowText" style="white-space: pre"> Sign up! </ion-label>
  </ion-button>

  <ion-button fill="clear" class="clearBtn" [routerLink]="['/forgot-password']">
    <ion-label class="blackText">Forgot your password?</ion-label>
    <ion-label class="yellowText" style="white-space: pre"> Recover it! </ion-label>
  </ion-button>

  <ion-button fill="clear" type="submit" class="clearBtn" [routerLink]="['/verify']">
    <ion-label class="blackText">Resend verification email</ion-label>
    <ion-label class="yellowText" style="white-space: pre"> here! </ion-label>
  </ion-button>

</ion-content>
