.container {
  margin-top:2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.title {
  font-family: "Gotham Bold";
  font-size: 1.2rem;
  text-align: center;
  color: #333333
}

.text {
  font-size: 1rem;
  text-align: center;
  color:#AAAAAA;
}

.inputIcon {
  color: #FEAF27;
  margin-right: 5%;
  margin-left:5%
}

.inputWithStyle {
  --background: #F5F6FA;
  width: 85%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.sendButton {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top:2rem;
  display: block;
  font-family: "Gotham Medium";
  color: white;
}

.logoBuddyAbroad {
  display: block;
  margin: 2rem auto;
  width: 50%;
}


.ios ion-item {
  --padding-start: 0px;
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 12px ;
  margin-left: 4.5vh;
}

ion-toast>.toast-container{
  background-color: #333333;
}
