.vertical-100 {
    height: 94vh;
}

.container {
    vertical-align: middle;
}

.btn-primary {
    background-color: #FFB229; !important;
    border-color: #FFB229; !important;
}

.lock {
    width: 5rem;
    margin-top: 2rem;
}

.error {
    text-align: left;
    color: #dd3d4c;
}

.bottom {
    position: absolute;
    bottom: 0px;
}

.rodape {
    background-color: #f7f7f7;
}

.button {
    margin-top: 2rem;
    color: #ffffff;
}

.no-click {
    pointer-events: none;
}